
{{define "body"}}
<section class="ftco-section pb-0">
        <div class="container">
            <div class="row">
                <div class="col-md-12 heading-title">
                    <h1>Send a Taproot Asset</h1><br>
                    <p>Destination address:</p><br>
                    <p>{{.address}}</p>
                    <form method="POST">
                        <label>Address:</label><br />
                        <input type="text" name="tap_addrs" required><br />
                        <input type="submit">
                    </form>
          </div>
        </div>
    </div>
</section>
{{end}}